select{
     font-size:1.5em;
     border:5px inset;
     border-radius:10px ;
     outline:none;
     outline-color: ;
   }
body
{overflow: auto;


}
tr{
                     
color:#ff0051;
font-size: 1.7em;

 }

table{
    border-radius: 5px;
    border-top-right-radius:100px ;
    border-bottom-left-radius: 100px;
  margin:5px;
  width:70%;
  
  
 }

form input[type=submit]{
font-size:1.2em;
width: 20%; color: #fff; background:#3cc022;
border:none;
margin:20px auto;
padding:10px 5px;
font-weight:bold;
border-radius: 25px;
outline:none;
               }
form input[type=text]{
    padding-top: 15px;
    padding-left:15px;
font-size:1.2em;
cursor:auto;
width: 70%; color: #333; 
border:none;
font-weight:bold;
outline:none ;
margin: 20px;
margin:5px auto;
padding:10px;
border-radius: 25px;

               }
form input[value="Solution"]{
    width: 25%;
    outline:none;
}
form input[value="Solution"]:hover{
    width: 26%;
        height: 8%;
    background:#45D926;
}
form input[type=text]:hover{
    width: 73%;
    
}

form input[type=text]:focus{
    border:none;
    border-radius: 25px;
    border-color: white;
    
}
form input[type=submit]:hover{
    width: 21%;
    height: 8%;
    background:#45D926;
}
form input[value="Solution"]:hover{
    width: 27%;
        height: 9%;
    background:#45D926;
}
.error{
  font-size: 2em;  
  color:#ff0051;
  font-weight:bold;
}
.ss{

}